---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import { Icon } from "astro-icon/components";
import { getUrlsFromUser } from "@/utils/";

const user = Astro.locals.user;

const urls = user
    ? await getUrlsFromUser(user.id)
    : {
          data: [
              {
                  nameURL: "No Name URL",
                  url: "No URL",
                  shortUrl: "No Short URL",
              },
          ],
      };

const username = user?.username || "No Name";
---

<Layout
    title="Mis Links"
    description="Aqui podras ver tus links acortados anteriormente."
>
    <!-- Main Content -->
    <Section title={`URLs acortadas de ${username}`} body={`Hola ${username}!`}>
        <ul class="flex flex-wrap content-center justify-center gap-4 px-6">
            {urls?.data && 
                urls.data.map((url) => (
                    <li class=" border my-2 rounded-lg bg-slate-800 px-4 py-4 h-auto max-w-full flex flex-col gap-4 shadow-2xl w-80 aspect-square">
                        <h3 class="text-2xl">
                            {url?.nameURL || "No URL NAME"}
                        </h3>
                        <span>Esta es la URL que acortaste:</span>
                        <small class="text-wrap overflow-auto">{url.url}</small>
                        <button
                            value={url.shortUrl}
                            class="copy-shortened-url bg-slate-600 py-2 px-4 rounded hover:bg-slate-700"
                        >
                            <Icon
                                name="line-md:clipboard-arrow"
                                class="inline-block ml-1 mb-1"
                            />
                            Copiar URL acortada
                        </button>
                        <a
                            href={`/metricas/${url.shortUrl}`}
                            class="bg-slate-600 py-2 px-4 rounded hover:bg-slate-700"
                        >
                            <Icon
                                name="line-md:speedometer"
                                class="inline-block ml-1 mb-1"
                            />
                            Ver Metricas de este Link
                        </a>
                    </li>
                ))
            }
        </ul>
    </Section>
</Layout>
<script>
    import { toast } from "sonner";

    const url = window.location.origin;

    const copyShortenedUrl = document.getElementsByClassName(
        "copy-shortened-url",
    ) as HTMLCollectionOf<HTMLButtonElement>;

    if (copyShortenedUrl) {
        for (const button of copyShortenedUrl) {
            button.onclick = (e) => {
                // @ts-ignore
                if (!e.target?.value) return;

                try {
                    // @ts-ignore
                    window.navigator.clipboard.writeText(
                        `${url}/${(e.target as HTMLButtonElement)?.value}`,
                    );
                    toast.success("URL copiada al portapapeles!");
                } catch {
                    toast.error("No se pudo copiar la URL al portapapeles");
                }
            };
        }
    }
</script>
